<div><strong>{{ location.data['name'] }}</strong></div>
{% if location.data['popup_content'] is not empty %}
    <div class="mt-2">{{ location.data['popup_content'] | truncate_by_words }}</div>
{% endif %}
{% if settings.url %}
    <div class="mt-3"><a class="btn btn-small btn-secondary-orange" href="{{ settings.url | link }}">{{ settings.view_page_label }}</a></div>
{% endif %}
