#map {
    width: 100%;
    height: 75vh;
}

#search-holder {
    position: absolute;
    z-index: 10;
}

#search-stores {
    position: relative;
}


/* #search-stores, #search-stores h5, #search-stores p, #search-stores input, #search-stores .fa-search
{
    color: #623412;
}

#search-stores .normal, #search-stores input, ::placeholder, ::-webkit-input-placeholder
{
    color: #623412 !important;
    font-family: "RobotoRegular" !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
#search-stores input
{
    border: 0px solid white;
} */

#search-stores .badge {
    font-family: "RobotoRegular";
    font-style: normal;
    font-weight: normal;
    vertical-align: top;
    font-size: 10px;
}

/* #search-stores .btn, #search-stores input
{
    width: 100%;
    margin-bottom: 10px;
} */

/* #search-stores-results {
    background-color: white;
    height:43vh;
    display: none;
    width: 100%;
} */

/* #search-stores-results .list-group {
    overflow-y: scroll;
    overflow-x: none;
    height: 43vh;
} */

#search-stores-results li {
    cursor: pointer;
}

/* #search-stores-results {
    position: absolute;
    top: -5px;
} */

#search-stores-results p {
    font-size: .75rem;
}

.has-search {
    position: relative;
}

.has-search .form-control {
    padding-right: 45px;
}

.has-search .form-control-feedback {
    position: absolute;
    font-size: 22px;
    z-index: 2;
    display: block;
    width: 22px;
    height: 22px;
    line-height: 1;
    text-align: center;
    pointer-events: none;
    color: #000;
    right: 10px;
    top: 14px;
}

.mapboxgl-ctrl {
    margin-bottom: 100px !important;
}

@media only screen and (max-width: 600px) {

    #map {
        width: 90%;
        height: 95vh;
        margin: auto;
    }

    #search-holder {
        width: 100%;
        top: 56px;
    }

    #search-stores-results:parent {
        height: 60vh;
    }

    #search-stores-results {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 40vh;
        z-index: 1;
    }

    #search-stores-results .list-group {
        height: 30vh;
        top: 0;
    }
}

.spider-leg-container {
    width: 1px;
    height: 1px;
    overflow: visible;
    will-change: transform;
}

.spider-leg-container:hover {
    cursor: pointer;
}

.spider-leg-container .spider-leg-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    background-color: #343434;
    opacity: 0.45;
    transform-origin: bottom;
    z-index: 0;
    height: 0;
}

.spider-leg-container:hover .spider-leg-line {
    opacity: 1
}

.spider-leg-container .spider-leg-pin {
    position: relative;
    width: 22px;
    height: 31px;
    margin-left: -10px;
    margin-top: -29px;
    background: url('../images/icon-marker.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

/* Animations specific styles */

.spider-leg-container.animate {
    -webkit-transition: margin 0.15s linear;
    -moz-transition: margin 0.15s linear;
    -ms-transition: margin 0.15s linear;
    -o-transition: margin 0.15s linear;
    transition: margin 0.15s linear;
}

.spider-leg-container.initial,
.spider-leg-container.exit {
    margin-left: 0 !important;
    margin-top: 0 !important;
    height: 0;
}

.spider-leg-container.animate .spider-leg-line {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;

    -webkit-transition-delay: inherit;
    -moz-transition-delay: inherit;
    -ms-transition-delay: inherit;
    -o-transition-delay: inherit;
    transition-delay: inherit;
}

.spider-leg-container.animate.initial .spider-leg-line,
.spider-leg-container.animate.exit .spider-leg-line {
    height: 0 !important
}
